name: Deploy (disabled - legacy)

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: false
    steps:
      - uses: actions/checkout@v2
      - uses: helaili/jekyll-action@2.0.5
        with:
          target_branch: 'gh-pages'
        env:
          JEKYLL_PAT: ${{ secrets.TOKEN }}
          JEKYLL_ENV: production          